@charset "UTF-8";
body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-family: "Spoqa Han Sans", "Spoqa Han Sans JP", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  background-color: #fcfcfc; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    color: #1094e8; }

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  font-family: "Spoqa Han Sans", "Spoqa Han Sans JP", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.6; }

.main {
  position: relative;
  width: 780px;
  margin: 0 auto;
  padding: 15px;
  box-sizing: border-box; }

@media screen and (max-width: 1310px) {
  .post-toc-aside {
    display: none; } }

@media screen and (max-width: 780px) {
  .main {
    width: 100%;
    margin-top: 16px;
    padding: 0 16px;
    box-sizing: border-box; } }

h1 {
  font-size: 26px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 22px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

* {
  word-break: keep-all; }

p,
span {
  line-height: 1.8; }

.header {
  position: relative;
  padding: 10px 0;
  font-family: "Spoqa Han Sans", "Spoqa Han Sans JP", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .header .header-inner {
    width: 780px;
    margin: 0 auto; }
    .header .header-inner .header-nav-link {
      display: inline-block;
      box-sizing: border-box;
      font-size: 15px;
      padding: 12px;
      color: #1094e8;
      background-color: white;
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.05);
      border-radius: 12px;
      margin-left: 12px;
      transition: 0.2s; }
      .header .header-inner .header-nav-link:hover {
        color: white;
        background-color: #1094e8;
        opacity: 0.8; }

@media screen and (max-width: 780px) {
  .header {
    display: none; } }

.mobile-header {
  display: none;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 50px; }
  .mobile-header .mobile-nav {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    text-align: center; }
    .mobile-header .mobile-nav .mobile-nav-icon {
      width: 50px;
      height: 50px;
      float: left;
      position: relative; }
      .mobile-header .mobile-nav .mobile-nav-icon span {
        position: absolute;
        left: 15px;
        top: 25px;
        width: 20px;
        height: 1px;
        background: #0e83cd; }
        .mobile-header .mobile-nav .mobile-nav-icon span:nth-child(1) {
          transform: translateY(-6px); }
        .mobile-header .mobile-nav .mobile-nav-icon span:nth-child(3) {
          transform: translateY(6px); }
    .mobile-header .mobile-nav .mobile-nav-title {
      display: inline-block;
      height: 100%;
      line-height: 50px;
      margin-right: 50px;
      font-family: '-apple-system, "Spoqa Han Sans" "PingFang SC","Helvetica Neue",  "Microsoft YaHei"';
      font-size: 24px; }
    .mobile-header .mobile-nav .mobile-nav-title-link {
      color: white;
      opacity: 0.7; }
  .mobile-header .mobile-menu {
    display: none;
    position: fixed;
    padding-top: 30px;
    top: 0;
    width: 100%;
    background: white;
    box-shadow: 0 2px 2px #cacaca; }
    .mobile-header .mobile-menu .mobile-menu-list {
      list-style: none;
      margin: 20px 0;
      padding-left: 30px; }
    .mobile-header .mobile-menu .mobile-menu-item {
      text-align: left;
      margin: 10px 0;
      font-size: 15px;
      color: #999; }
    .mobile-header .mobile-menu .mobile-menu-item > .iconfont {
      padding-right: 5px; }
  .mobile-header .mobile-menu.show-menu {
    animation: showMenu 0.4s forwards;
    display: block; }
  .mobile-header .mobile-menu.hide-menu {
    animation: hideMenu 0.4s forwards;
    display: block;
    transform: translateY(0); }

.mobile-nav-icon.show-menu span:nth-child(1) {
  animation: first-icon-open 0.4s both; }

.mobile-nav-icon.show-menu span:nth-child(2) {
  display: none; }

.mobile-nav-icon.show-menu span:nth-child(3) {
  animation: third-icon-open 0.4s both; }

.mobile-nav-icon.hide-menu span:nth-child(1) {
  animation: first-icon-close 0.4s both; }

.mobile-nav-icon.hide-menu span:nth-child(2) {
  display: block; }

.mobile-nav-icon.hide-menu span:nth-child(3) {
  animation: third-icon-close 0.4s both; }

@keyframes first-icon-open {
  from {
    transform: rotate(0) translateY(-6px); }
  to {
    transform: rotate(45deg) translateY(0); } }

@keyframes first-icon-close {
  from {
    transform: rotate(45deg) translateY(0); }
  to {
    transform: rotate(0) translateY(-6px); } }

@keyframes third-icon-open {
  from {
    transform: rotate(0) translateY(6px); }
  to {
    transform: rotate(-45deg) translateY(0); } }

@keyframes third-icon-close {
  from {
    transform: rotate(-45deg) translateY(0); }
  to {
    transform: rotate(0) translateY(6px); } }

@keyframes showMenu {
  from {
    opacity: 0;
    transform: translateY(-100%); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes hideMenu {
  from {
    opacity: 1;
    transform: translateY(0); }
  to {
    opacity: 1;
    transform: translateY(-100%); } }

@media screen and (max-width: 780px) {
  .mobile-header {
    display: block; } }

.post {
  box-sizing: content-box;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.05);
  padding: 36px; }

@media screen and (max-width: 780px) {
  .post {
    padding: 16px; } }

.profile-margin {
  margin-bottom: 48px !important; }

.card {
  display: flex;
  background-color: white;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  border: 1px solid transparent;
  margin-bottom: 20px;
  transition: border 0.3s; }
  .card:hover {
    border: 1px solid #1094e8; }
  .card .profile-wrapper {
    display: flex;
    flex-direction: row;
    width: 640px;
    max-height: 480px;
    padding: 0; }
    .card .profile-wrapper .profile {
      width: 40%;
      height: 100%;
      border-right: 1px solid rgba(120, 120, 120, 0.1); }
      .card .profile-wrapper .profile .profile-image {
        width: 100%;
        height: 100%;
        background-image: url("https://avatars2.githubusercontent.com/u/6455767?s=460&v=4");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; }
    .card .profile-wrapper .contents {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 60%;
      box-sizing: border-box;
      padding: 24px; }
      .card .profile-wrapper .contents .label-container {
        display: flex;
        justify-content: center;
        position: absolute;
        right: 24px;
        top: 36px;
        width: 60px;
        height: 25px;
        padding: 12px;
        border-radius: 24px;
        background-color: #1094e8; }
        .card .profile-wrapper .contents .label-container .label {
          color: white;
          font-weight: bold;
          text-align: center; }
      .card .profile-wrapper .contents .title {
        font-size: 30px;
        line-height: 1.2;
        margin: 0 0 12px 0;
        color: rgba(0, 0, 0, 0.8); }
      .card .profile-wrapper .contents .subtitle {
        line-height: 0;
        margin: 0;
        color: #7e7e7e; }
      .card .profile-wrapper .contents .sns-container {
        margin-top: 36px; }
        .card .profile-wrapper .contents .sns-container .icon {
          width: 24px;
          height: 24px;
          margin-right: 16px;
          cursor: pointer; }
          .card .profile-wrapper .contents .sns-container .icon:last-child() {
            margin-right: 0; }
      .card .profile-wrapper .contents .description {
        overflow-y: hidden;
        padding: 0; }
        .card .profile-wrapper .contents .description .text {
          word-break: break-all;
          color: #7e7e7e; }
  @media screen and (max-width: 780px) {
    .card .profile-wrapper {
      flex-direction: column;
      height: 100%; }
      .card .profile-wrapper .profile {
        width: 100%; }
        .card .profile-wrapper .profile .profile-image {
          max-height: 480px;
          min-height: 220px; }
      .card .profile-wrapper .contents {
        width: 100%; } }

@media screen and (max-width: 780px) {
  .main {
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    height: 100vh !important;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    align-items: flex-start; }
    .main .content-inner {
      width: 100%; }
  .card {
    width: 100%;
    height: auto;
    margin: 0 !important;
    padding: 0; }
  .paginator {
    display: none; }
  .footer-social {
    display: none; }
  .contents {
    box-sizing: border-box; } }

.post-abstract {
  padding: 12px 24px 24px 24px; }

.post-abstract,
.post-whole {
  padding-top: 25px; }
  .post-abstract .post-title h2,
  .post-whole .post-title h2 {
    font-weight: 600;
    font-size: 30px;
    margin: 0 0 2px 0; }
  .post-abstract .post-title-link,
  .post-whole .post-title-link {
    color: #444; }
  .post-abstract .post-title .post-meta,
  .post-whole .post-title .post-meta {
    margin-bottom: 36px; }
  .post-abstract .post-time,
  .post-abstract .post-category,
  .post-abstract .post-visit,
  .post-whole .post-time,
  .post-whole .post-category,
  .post-whole .post-visit {
    color: rgba(128, 128, 128, 0.8) !important;
    font-size: 14px; }
  .post-abstract .post-category::before,
  .post-abstract .post-visit::before,
  .post-whole .post-category::before,
  .post-whole .post-visit::before {
    content: '·'; }
  .post-abstract .post-content,
  .post-whole .post-content {
    font-weight: 300 !important;
    font-family: "Spoqa Han Sans", "Spoqa Han Sans JP", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 15px;
    padding-bottom: 48px; }
    .post-abstract .post-content h2,
    .post-whole .post-content h2 {
      margin-top: 40px;
      margin-bottom: 20px;
      font-weight: 500 !important; }
    .post-abstract .post-content h3,
    .post-abstract .post-content h4,
    .post-whole .post-content h3,
    .post-whole .post-content h4 {
      margin-top: 40px;
      margin-bottom: 20px;
      font-weight: 400 !important; }
    .post-abstract .post-content a,
    .post-whole .post-content a {
      color: #0e83cd;
      word-break: break-all; }
      .post-abstract .post-content a:hover,
      .post-whole .post-content a:hover {
        text-decoration: underline; }
    .post-abstract .post-content ul,
    .post-whole .post-content ul {
      padding-left: 24px;
      padding-right: 8px; }
      .post-abstract .post-content ul li:nth-child(n + 2),
      .post-whole .post-content ul li:nth-child(n + 2) {
        margin-top: 12px; }

.post-abstract {
  padding-bottom: 20px; }
  .post-abstract .read-more-link {
    font-size: 1.1em;
    color: #0e83cd; }

.post-whole .post-content {
  border-bottom: 1px solid #e3e3e3; }

.post-whole .post-tag {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap; }
  .post-whole .post-tag .tag {
    border: 1px solid #1094e8;
    border-radius: 16px;
    padding: 6px 12px 6px 12px;
    margin-right: 6px;
    color: #0e83cd;
    margin-bottom: 12px; }
    .post-whole .post-tag .tag::before {
      content: '#'; }
    .post-whole .post-tag .tag:hover {
      color: #1094e8; }

code,
pre {
  font-size: 14px;
  font-family: "Source Code Pro", Monaco, Menlo, Consolas, monospace; }

code {
  background: transparent;
  color: #4d4d4c;
  padding: 0 5px;
  white-space: pre-line; }

blockquote {
  margin: 1em 0;
  padding: 10px 20px;
  border: 1px solid #e3e3e3;
  border-left: 5px solid #0af; }
  blockquote p {
    margin: 0; }

.highlight {
  margin: 1em 0;
  background: transparent;
  border-radius: 4px;
  overflow-x: auto;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
  position: relative; }
  .highlight table,
  .highlight tr,
  .highlight td {
    margin: 0;
    padding: 0;
    width: 100%;
    border-collapse: collapse; }
  .highlight table {
    position: relative; }
    .highlight table::after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: 2px 7px;
      font-size: 14px;
      content: 'Code';
      background: rgba(0, 0, 0, 0); }
  .highlight figcaption {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    padding: 2px 7px;
    box-sizing: border-box;
    overflow-x: hidden; }
    .highlight figcaption > a {
      position: absolute;
      right: 0;
      margin-right: 8px; }
  .highlight.html > table::after {
    content: "HTML"; }
  .highlight.html > figcaption > span::after {
    content: " · HTML"; }
  .highlight.html figcaption + table::after {
    display: none; }
  .highlight.css > table::after {
    content: "CSS"; }
  .highlight.css > figcaption > span::after {
    content: " · CSS"; }
  .highlight.css figcaption + table::after {
    display: none; }
  .highlight.javascript > table::after {
    content: "JavaScript"; }
  .highlight.javascript > figcaption > span::after {
    content: " · JavaScript"; }
  .highlight.javascript figcaption + table::after {
    display: none; }
  .highlight.typescripe > table::after {
    content: "TypeScript"; }
  .highlight.typescripe > figcaption > span::after {
    content: " · TypeScript"; }
  .highlight.typescripe figcaption + table::after {
    display: none; }
  .highlight.node > table::after {
    content: "NodeJs"; }
  .highlight.node > figcaption > span::after {
    content: " · NodeJs"; }
  .highlight.node figcaption + table::after {
    display: none; }
  .highlight.scss > table::after {
    content: "Scss"; }
  .highlight.scss > figcaption > span::after {
    content: " · Scss"; }
  .highlight.scss figcaption + table::after {
    display: none; }
  .highlight.less > table::after {
    content: "Less"; }
  .highlight.less > figcaption > span::after {
    content: " · Less"; }
  .highlight.less figcaption + table::after {
    display: none; }
  .highlight.stylus > table::after {
    content: "Stylus"; }
  .highlight.stylus > figcaption > span::after {
    content: " · Stylus"; }
  .highlight.stylus figcaption + table::after {
    display: none; }
  .highlight.java > table::after {
    content: "Java"; }
  .highlight.java > figcaption > span::after {
    content: " · Java"; }
  .highlight.java figcaption + table::after {
    display: none; }
  .highlight.python > table::after {
    content: "Python"; }
  .highlight.python > figcaption > span::after {
    content: " · Python"; }
  .highlight.python figcaption + table::after {
    display: none; }
  .highlight.php > table::after {
    content: "PHP"; }
  .highlight.php > figcaption > span::after {
    content: " · PHP"; }
  .highlight.php figcaption + table::after {
    display: none; }
  .highlight.ruby > table::after {
    content: "Ruby"; }
  .highlight.ruby > figcaption > span::after {
    content: " · Ruby"; }
  .highlight.ruby figcaption + table::after {
    display: none; }
  .highlight.c > table::after {
    content: "C"; }
  .highlight.c > figcaption > span::after {
    content: " · C"; }
  .highlight.c figcaption + table::after {
    display: none; }
  .highlight.cpp > table::after {
    content: "C++"; }
  .highlight.cpp > figcaption > span::after {
    content: " · C++"; }
  .highlight.cpp figcaption + table::after {
    display: none; }
  .highlight.swift > table::after {
    content: "Swift"; }
  .highlight.swift > figcaption > span::after {
    content: " · Swift"; }
  .highlight.swift figcaption + table::after {
    display: none; }
  .highlight.objectivec > table::after {
    content: "Objective-C"; }
  .highlight.objectivec > figcaption > span::after {
    content: " · Objective-C"; }
  .highlight.objectivec figcaption + table::after {
    display: none; }
  .highlight.go > table::after {
    content: "Go"; }
  .highlight.go > figcaption > span::after {
    content: " · Go"; }
  .highlight.go figcaption + table::after {
    display: none; }
  .highlight.json > table::after {
    content: "JSON"; }
  .highlight.json > figcaption > span::after {
    content: " · JSON"; }
  .highlight.json figcaption + table::after {
    display: none; }
  .highlight.xml > table::after {
    content: "XML"; }
  .highlight.xml > figcaption > span::after {
    content: " · XML"; }
  .highlight.xml figcaption + table::after {
    display: none; }
  .highlight.yml > table::after {
    content: "YAML"; }
  .highlight.yml > figcaption > span::after {
    content: " · YAML"; }
  .highlight.yml figcaption + table::after {
    display: none; }
  .highlight .gutter {
    width: 10px;
    color: #999; }
    .highlight .gutter pre {
      margin: 0;
      padding: 30px 7px 10px; }
  .highlight .code pre {
    margin: 0;
    padding: 30px 10px 10px; }
  .highlight .code .name,
  .highlight .code .title,
  .highlight .code .section,
  .highlight .code .selector-id,
  .highlight .code .selector-class {
    color: #cdb314; }
  .highlight .code .string,
  .highlight .code .number,
  .highlight .code .literal {
    color: #62a05d; }
  .highlight .code .keyword,
  .highlight .code .selector-tag,
  .highlight .code .addition {
    color: #e28b12; }
  .highlight .code .variable {
    color: #53a4d9; }
  .highlight .code .comment,
  .highlight .code .quote {
    color: #999; }
  .highlight .code .built_in,
  .highlight .code .deletion,
  .highlight .code .meta {
    color: #c92027; }

table {
  max-width: 100%;
  border: 1px solid #e3e3e3;
  margin: 1em 0;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }
  table tr td,
  table tr th {
    padding: 5px 10px;
    text-align: left;
    vertical-align: middle; }
  table tbody tr:nth-child(even) {
    background: #eee; }

.post-toc {
  width: 240px;
  padding: 0 10px;
  font-family: "Spoqa Han Sans", "Spoqa Han Sans JP", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #444;
  box-sizing: border-box;
  position: absolute;
  margin-left: 770px;
  max-height: 80vh;
  overflow-y: auto; }
  .post-toc .post-toc-title {
    display: inline-block;
    border-top: 1px solid #e3e3e3;
    padding: 7px 0;
    color: #0e83cd; }
  .post-toc .toc-link {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-family: inherit;
    padding: 7px 0;
    display: block;
    line-height: 1;
    color: rgba(0, 0, 0, 0.5);
    transition: color 0.5s; }
    .post-toc .toc-link:hover {
      color: #1094e8; }
  .post-toc .toc-link.active {
    color: #0e83cd; }
  .post-toc ol {
    list-style: none;
    padding-left: 25px; }
  .post-toc > ol {
    margin: 0;
    padding: 0; }
  .post-toc .back-to-top {
    margin-top: 30px;
    transition: color 0.5s; }
    .post-toc .back-to-top:hover {
      color: #1094e8; }

@media screen and (max-width: 1310px) {
  .post-toc {
    display: none; } }

hr {
  margin-top: 48px;
  border: none;
  height: 1px;
  color: #bbb;
  background: #bbb;
  background-image: -webkit-linear-gradient(left, #eee, #777, #eee);
  background-image: -moz-linear-gradient(left, #eee, #777, #eee);
  background-image: -ms-linear-gradient(left, #eee, #777, #eee); }

.archive {
  padding: 1em 0; }
  .archive .archive-timeline {
    font-family: "Spoqa Han Sans", "Spoqa Han Sans JP", "Helvetica Neue", Helvetica, Arial, sans-serif; }
    .archive .archive-timeline .archive-year {
      font-weight: 600;
      font-size: 28px;
      margin: 15px 0; }
  .archive .archive-post {
    padding: 4px 20px;
    border-left: 1px solid #e3e3e3;
    transition: 0.3s ease-out; }
    .archive .archive-post .archive-post-time {
      margin-right: 10px; }
    .archive .archive-post:hover {
      border-left: 3px solid #1094e8;
      transform: translateX(3px); }
      .archive .archive-post:hover .archive-post-link {
        color: #1094e8; }

.tags {
  padding: 2em 0; }

.tags-list .tags-list-item {
  margin-right: 15px; }
  .tags-list .tags-list-item::before {
    content: '#'; }

.tags-archives {
  margin-top: 15px; }
  .tags-archives .tag-text {
    display: inline-block;
    margin: 20px 0 5px 0;
    font-size: 20px; }
  .tags-archives .tags-post {
    padding: 4px 20px;
    border-left: 1px solid #e3e3e3; }
    .tags-archives .tags-post:hover {
      border-left: 3px solid #1094e8;
      transform: translateX(3px);
      transition: 0.3s ease-out; }
      .tags-archives .tags-post:hover .tags-post-title {
        color: #1094e8; }

.tab-menu {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
  margin-bottom: 20px;
  transition: border 0.3s;
  padding: 24px; }

.tab-menu:hover {
  border: 1px solid #1094e8; }

.tab-menu .tab .title {
  font-size: 24px; }

.tab-menu .tab-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 24px 0 24px; }

.tab-menu .tab-list .line {
  width: 70%;
  background-color: rgba(0, 0, 0, 0.05);
  height: 2px;
  margin-top: 24px;
  margin-bottom: 24px; }

.tab-menu .tab-list .line:last-child {
  display: none; }

.tab-menu .tab-list .tab-item {
  display: flex;
  padding: 24px 0 24px 0;
  cursor: pointer; }

.tab-menu .tab-list .tab-item .image {
  width: 170px;
  height: 170px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 48px; }

.tab-menu .tab-list .tab-item .right {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.tab-menu .tab-list .tab-item .right .title {
  font-size: 20px;
  margin-bottom: 6px; }

.tab-menu .tab-list .tab-item .right .date-wrapper .date {
  font-size: 14px;
  color: #7e7e7e; }

.tab-menu .tab-list .tab-item .right .job {
  margin-top: 6px; }

.tab-menu .tab-list .tab-item .right .description {
  margin-top: 12px;
  width: 400px;
  color: #7e7e7e; }

@media screen and (max-width: 780px) {
  .tab-menu {
    margin-top: 24px; }
  .tab-menu .tab-list .tab-item {
    flex-direction: column;
    align-items: center; }
  .tab-menu .tab-list .tab-item .image {
    margin: 0 0 24px 0; }
  .tab-menu .tab-list .tab-item .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto; }
  .tab-menu .tab-list .tab-item .right .description {
    width: auto;
    text-align: center; } }

.paginator {
  font-family: "Spoqa Han Sans", "Spoqa Han Sans JP", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  margin: 1em 0; }
  .paginator::after {
    content: "";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0;
    zoom: 1; }
  .paginator .wrapper {
    display: flex;
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    border: 1px solid transparent;
    padding: 12px; }
  .paginator .prev {
    float: left;
    transition: .3s ease-out; }
    .paginator .prev:hover {
      color: #1094e8;
      transform: translateX(-4px); }
  .paginator .next {
    float: right;
    transition: .3s ease-out; }
    .paginator .next:hover {
      color: #1094e8;
      transform: translateX(4px); }
  .paginator .nav-mobile {
    display: none; }
  @media screen and (max-width: 780px) {
    .paginator .nav-mobile {
      display: inline; }
    .paginator .nav-default {
      display: none; } }

.post-copyright {
  padding: 10px;
  font-size: 16px;
  border-bottom: 1px solid #e3e3e3; }
  .post-copyright .post-copyright-item {
    margin: 5px 0; }
    .post-copyright .post-copyright-item a {
      color: #0e83cd; }
      .post-copyright .post-copyright-item a:hover {
        color: #1094e8; }

.footer-social {
  text-align: center;
  color: #444;
  font-size: 14px; }

.social-link + .social-link {
  margin-left: 10px; }

.social-link .iconfont {
  font-size: 30px;
  color: #444; }

.footer-copyright .time-line {
  margin: 5px 0; }
  .footer-copyright .time-line .iconfont {
    font-size: 12px; }

.footer-copyright .theme-info {
  margin: 0;
  margin-bottom: 15px; }

.video-container {
  position: relative;
  padding-bottom: 56.2%;
  /* 16:9 */ }

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
